# [10 Minutes to pandas — pandas 0.23.3 documentation](https://pandas.pydata.org/pandas-docs/stable/10min.html)

# Object Creation
# Viewing Data
1조: 처음~22번

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

# Selection
## Getting
## Selection by Label
## Selection by Position
## Boolean Indexing
## Setting
2조: 23~54번

# Missing Data
# Operations
## Stats
## Apply
## Histogramming
## String Methods
3조: 55~72번

# Merge

## Concat

Pandas는 join/merge 와 같은 병합작업의 경우 'concat()' 을 통해<br>
Series, DataFrame,Panel 객체를 index와 relational algebra과 결합할 수 있게해준다.

Merging 섹션을 보자 [pandas.Panel — pandas 0.23.3 documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Panel.html)

'concat()'으로 Pandas 객체를 concatenating 하자

In [13]:
df = pd.DataFrame(np.random.randn(10, 4))

In [7]:
df

          0         1         2         3
0 -1.370113  1.306357  0.805064 -0.262886
1  0.059452  0.921803 -0.264351 -0.479659
2 -0.149725  0.429804 -1.730625 -0.585599
3  2.396598 -1.112323  0.831191  0.017524
4 -0.939851  0.398300 -1.503311  1.185740
5 -0.777850 -0.061262 -1.752889  1.381885
6  0.573826  0.704169 -1.114609 -0.916635
7 -0.311905  0.587430  0.069653 -0.247175
8  0.149070 -1.614154 -0.119656  0.534045
9  0.599226 -0.656358 -0.316240  0.335043

In [11]:
pieces = [df[:3], df[3:7], df[7:]]

In [12]:
pd.concat(pieces)

          0         1         2         3
0 -1.370113  1.306357  0.805064 -0.262886
1  0.059452  0.921803 -0.264351 -0.479659
2 -0.149725  0.429804 -1.730625 -0.585599
3  2.396598 -1.112323  0.831191  0.017524
4 -0.939851  0.398300 -1.503311  1.185740
5 -0.777850 -0.061262 -1.752889  1.381885
6  0.573826  0.704169 -1.114609 -0.916635
7 -0.311905  0.587430  0.069653 -0.247175
8  0.149070 -1.614154 -0.119656  0.534045
9  0.599226 -0.656358 -0.316240  0.335043

# Time Series
6조: 108~126

# Categoricals
# Plotting
7조: 127~140

# Getting Data In/Out
## CSV
## HDF5
## Excel
# Gotchas
8조: 141~끝