# [Pandas10분 완성](https://pandas.pydata.org/pandas-docs/stable/10min.html)

이 소개서는 주로 신규 사용자를 대상으로 한 판다에 대한 간략한 소개입니다. 더 복잡한 방법은 [Cookbook](https://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook) 에서 볼 수 있습니다.

일반적으로 다음과 같이 가져옵니다.

In [7]:
import pandas as pd

In [8]:
import numpy as np

In [9]:
import matplotlib.pyplot as plt

시리즈와 같은 것으로 바뀔 수 있는 객체의 dict로 구성된 dataframe을 만듭니다.

In [10]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [11]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

 DataFrame 결과의 행은 다양한 데이터타입(dtypes)으로 구성됩니다.

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

IPython을 이용하고 계시다면, 열 이름에 대한(공용속성은 물론) tap완성 기능(tap completion)이 자동으로 활성화됩니다. 다음은 완성될 속성에 대한 부분집합(subset)입니다.

In [ ]:
df2 <tap을 누르세요.>

In [ ]:
df2.A                  df2.bool
df2.abs                df2.boxplot
df2.add                df2.C
df2.add_prefix         df2.clip
df2.add_suffix         df2.clip_lower
df2.align              df2.clip_upper
df2.all                df2.columns
df2.any                df2.combine
df2.append             df2.combine_first
df2.apply              df2.compound
df2.applymap           df2.consolidate
df2.D

보시다시피, A,B,C그리고 D 열이 탭 자동완성기능으로 실행됩니다. 물론 E도 있습니다. 나머지 속성들은 간결하게 잘라버렸습니다.


# Viewing Data
1조: 처음~22번

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [ ]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

**Viewing Data 데이터 확인하기**

In [ ]:
데이터프레임의 맨 윗 줄과 마지막 줄을 확인하고 싶을 때 .head()와 .tail()을 입력합니다. 

괄호()안에는 숫자가 들어갈 수도 있고 안 들어갈 수도 있습니다. 
숫자가 들어간다면, 윗/마지막 줄의 특정 줄을 불러올 수 있습니다. 
숫자가 들어가지 않다면, 기본값인 5로 처리됩니다.

(예시) 
df.tail(3) - 끝에서 마지막 3줄을 불러옴
df.tail() - 끝에서 마지막 5줄 불러옴

In [10]:
df.head()

                   A         B         C         D
2013-01-01 -0.527986  1.901471 -1.128302 -1.216338
2013-01-02  0.724692  0.611865  0.075657 -0.535417
2013-01-03  0.424716  1.335635  0.479678 -0.596492
2013-01-04 -1.186081 -1.060936 -0.824235 -1.408271
2013-01-05 -0.614861  0.020317 -1.184843 -0.273189

In [9]:
df.tail(3)

                   A         B         C         D
2013-01-04 -1.186081 -1.060936 -0.824235 -1.408271
2013-01-05 -0.614861  0.020317 -1.184843 -0.273189
2013-01-06 -1.704603 -0.193390  0.731213 -0.232786

인덱스(Index), 행 (Column) 그리고 데이터에 대한 세부 정보를 보려면 .index, .columns, .values를 입력합니다.

In [14]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
df.values

array([[-0.52798622,  1.90147125, -1.12830182, -1.21633802],
       [ 0.72469156,  0.61186508,  0.07565709, -0.53541671],
       [ 0.42471602,  1.33563542,  0.47967792, -0.5964917 ],
       [-1.18608132, -1.06093594, -0.82423465, -1.40827078],
       [-0.61486088,  0.0203175 , -1.18484299, -0.27318902],
       [-1.70460278, -0.19339006,  0.73121257, -0.23278589]])

데이터의 대략적인 통계적 정보를 보려면 describe()를 입력합니다.

In [11]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.480687  0.435827 -0.308472 -0.710415
std    0.926119  1.076812  0.843307  0.491093
min   -1.704603 -1.060936 -1.184843 -1.408271
25%   -1.043276 -0.139963 -1.052285 -1.061376
50%   -0.571424  0.316091 -0.374289 -0.565954
75%    0.186540  1.154693  0.378673 -0.338746
max    0.724692  1.901471  0.731213 -0.232786

In [ ]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

# 객체생성

[데이터 구조 소개 섹션](https://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro)을 참조하십시오.

판다스는 값을 가지고 있는 리스트를 통해 시리즈를 만들고, 인덱스를 기본값으로 불러올 것입니다.

In [5]:
s = pd.Series([1,3,5,np.nan,6,8])

In [6]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

[DataFrame](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html#pandas.DataFrame) datetime 인덱스와 레이블이있는 열이있는 NumPy 배열을 전달하여 a 만들기 :

In [8]:
dates = pd.date_range('20130101', periods=6)

In [9]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [12]:
df

                   A         B         C         D
2013-01-01  1.458820  0.247541 -0.779845  2.175895
2013-01-02 -0.680268 -0.682247  1.789324  0.352487
2013-01-03  0.454372  1.870514  0.090400 -0.708950
2013-01-04 -0.188282 -0.573742 -0.249154 -0.481982
2013-01-05 -1.068930  0.663761 -1.268271 -1.136568
2013-01-06 -0.596239 -1.835190  0.576963 -1.661536