# [10 Minutes to pandas — pandas 0.23.3 documentation](https://pandas.pydata.org/pandas-docs/stable/10min.html)

In [10]:
import pandas as pd

In [11]:
import numpy as np

In [12]:
import matplotlib.pyplot as plt

# Object Creation
# Viewing Data
1조: 처음~22번

# Selection
## Getting
## Selection by Label

## 위치로 선택하기

자세한 내용은 [위치로 선택하기](https://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-integer)를 참고해주세요.

넘겨받은 정수의 위치로 선택하기:

In [13]:
df.iloc[3]

NameError: name 'df' is not defined

넘파이/파이썬 작동 방식처럼 정수로 표기된 슬라이스로 선택하기:

In [3]:
df.iloc[3:5,0:2]

NameError: name 'df' is not defined

넘파이/파이썬 작동 방식처럼 정수로 표기된 위치값을 기반으로 선택하기:

In [4]:
df.iloc[[1,2,4],[0,2]]

NameError: name 'df' is not defined

행만 나누고 싶을 때:

In [5]:
df.iloc[1:3,:]

NameError: name 'df' is not defined

열만 나누고 싶을 때:

In [6]:
df.iloc[:,1:3]

NameError: name 'df' is not defined

값만 얻고 싶을 때:

In [7]:
df.iloc[1,1]

NameError: name 'df' is not defined

스칼라 값을 빨리 얻고 싶을 때(위 방식과 동일):

In [8]:
df.iat[1,1]

NameError: name 'df' is not defined

## Boolean Indexing

### <부울 인덱싱>

#### 선택한 데이터에 단일 열의 값을 사용한다.

In [74]:
df[df.A > 0]

                   A         B         C         D
2013-01-01  1.509296  0.949764  0.465564  1.168993
2013-01-03  1.362507 -0.410838  0.274134 -0.666104
2013-01-04  1.397707 -1.159303 -1.615495  0.694031
2013-01-06  1.627127  0.207076 -0.576249  0.255399

#### 부울 조건에 충족되는 데이터프레임에서 변수를 선택한다.

In [75]:
df[df > 0]

                   A         B         C         D
2013-01-01  1.509296  0.949764  0.465564  1.168993
2013-01-02       NaN  1.362515  0.269928  0.226156
2013-01-03  1.362507       NaN  0.274134       NaN
2013-01-04  1.397707       NaN       NaN  0.694031
2013-01-05       NaN       NaN  1.594030       NaN
2013-01-06  1.627127  0.207076       NaN  0.255399

#### 필터링 방법인 [isin()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.isin.html#pandas.Series.isin)을 사용한다.

In [76]:
df2 = df.copy()

In [77]:
df2['E'] = ['one', 'one','two','three','four','three']

In [78]:
df2

                   A         B         C         D      E
2013-01-01  1.509296  0.949764  0.465564  1.168993    one
2013-01-02 -0.086348  1.362515  0.269928  0.226156    one
2013-01-03  1.362507 -0.410838  0.274134 -0.666104    two
2013-01-04  1.397707 -1.159303 -1.615495  0.694031  three
2013-01-05 -0.358856 -0.788163  1.594030 -0.279220   four
2013-01-06  1.627127  0.207076 -0.576249  0.255399  three

In [79]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  1.362507 -0.410838  0.274134 -0.666104   two
2013-01-05 -0.358856 -0.788163  1.594030 -0.279220  four

# Missing Data
# Operations
## Stats
## Apply
## Histogramming
## String Methods
3조: 55~72번

# Merge
## Concat
## Join
## Append
4조: 73~90번

# Grouping
# Reshaping
## Stack
## Pivot Tables
5조: 91~107번

# Time Series
6조: 108~126

# Categoricals
# Plotting
7조: 127~140

# Getting Data In/Out
## CSV
## HDF5
## Excel
# Gotchas
8조: 141~끝