# [10 Minutes to pandas — pandas 0.23.3 documentation](https://pandas.pydata.org/pandas-docs/stable/10min.html)

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
s = pd.Series([1,3,5,np.nan,6,8])

In [6]:
dates = pd.date_range('20130101', periods=6)

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2013-01-01 -1.003151 -0.537214  2.338241  0.467623
2013-01-02  0.054000  0.011232  0.743765 -0.276145
2013-01-03  0.548241  1.539891 -1.512537 -0.349190
2013-01-04  1.455189 -0.266824  0.809076 -2.130450
2013-01-05  0.477685  1.037563 -2.881365 -0.744048
2013-01-06  1.386038 -0.788494 -0.484952 -0.003913

# Object Creation
# Viewing Data
1조: 처음~22번

# Selection
## Getting
## Selection by Label
## Selection by Position
## Boolean Indexing
## Setting
2조: 23~54번

# Missing Data
# Operations
## Stats
## Apply
## Histogramming
## String Methods
3조: 55~72번

# Operations(연산)

[2진수 연산에 대한 기본 섹션](https://pandas.pydata.org/pandas-docs/stable/basics.html#basics-binop)을 참조하십시오.

## Stats(통계)

일반적으로 결측치는 제외하고 연산합니다.

기술통계량 구하기:

In [9]:
df.mean()   # 평균 구하기

A    0.486334
B    0.166026
C   -0.164629
D   -0.506020
dtype: float64

다른 축에서 동일한 연산하기:

In [10]:
df.mean(1)   # mean()함수의 인자로 1을 주면 컬럼이 아닌 인덱스를 기준으로 연산합니다.

2013-01-01    0.316375
2013-01-02    0.133213
2013-01-03    0.056601
2013-01-04   -0.033252
2013-01-05   -0.527541
2013-01-06    0.027170
Freq: D, dtype: float64

다른 규모이고 정렬이 필요한 값을 연산합니다.  
또한 pandas는 지정된 규모에 따라 자동으로 값을 반환합니다.

In [11]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)

In [12]:
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [13]:
df.sub(s, axis='index')

                   A         B         C         D
2013-01-01       NaN       NaN       NaN       NaN
2013-01-02       NaN       NaN       NaN       NaN
2013-01-03 -0.451759  0.539891 -2.512537 -1.349190
2013-01-04 -1.544811 -3.266824 -2.190924 -5.130450
2013-01-05 -4.522315 -3.962437 -7.881365 -5.744048
2013-01-06       NaN       NaN       NaN       NaN

# Merge
## Concat
## Join
## Append
4조: 73~90번

# Grouping
# Reshaping
## Stack
## Pivot Tables
5조: 91~107번

# Time Series
6조: 108~126

# Categoricals
# Plotting
7조: 127~140

# Getting Data In/Out
## CSV
## HDF5
## Excel
# Gotchas
8조: 141~끝