# [10 Minutes to pandas — pandas 0.23.3 documentation](https://pandas.pydata.org/pandas-docs/stable/10min.html)

# Object Creation
# Viewing Data

In [4]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

In [6]:
dates = pd.date_range('20130101', periods=6)

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

데이터를 전치한다(행과 열을 바꾼다).

In [8]:
In [20]: df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.518786    1.049498   -1.661886   -0.543158    0.463727    0.589408
B    0.108164   -0.464647   -2.689833   -0.789118   -1.483834    0.142561
C    0.031798    1.040367   -1.041051    0.319365   -1.526564   -0.415173
D    0.127969   -1.114345   -0.705101   -0.708731   -0.771842   -0.003326

In [ ]:
축(axis)별로 정렬한다.

In [9]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.127969  0.031798  0.108164  0.518786
2013-01-02 -1.114345  1.040367 -0.464647  1.049498
2013-01-03 -0.705101 -1.041051 -2.689833 -1.661886
2013-01-04 -0.708731  0.319365 -0.789118 -0.543158
2013-01-05 -0.771842 -1.526564 -1.483834  0.463727
2013-01-06 -0.003326 -0.415173  0.142561  0.589408

In [ ]:
값(values)으로 정렬한다.

In [10]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-03 -1.661886 -2.689833 -1.041051 -0.705101
2013-01-05  0.463727 -1.483834 -1.526564 -0.771842
2013-01-04 -0.543158 -0.789118  0.319365 -0.708731
2013-01-02  1.049498 -0.464647  1.040367 -1.114345
2013-01-01  0.518786  0.108164  0.031798  0.127969
2013-01-06  0.589408  0.142561 -0.415173 -0.003326

# Selection
## Getting
## Selection by Label
## Selection by Position
## Boolean Indexing
## Setting
2조: 23~54번

# Missing Data
# Operations
## Stats
## Apply
## Histogramming
## String Methods
3조: 55~72번

# Merge
## Concat
## Join
## Append
4조: 73~90번

# Grouping
# Reshaping
## Stack
## Pivot Tables
5조: 91~107번

# Time Series
6조: 108~126

# Categoricals
# Plotting
7조: 127~140

# Getting Data In/Out
## CSV
## HDF5
## Excel
# Gotchas
8조: 141~끝