# [Pandas10분 완성](https://pandas.pydata.org/pandas-docs/stable/10min.html)

이 소개서는 주로 신규 사용자를 대상으로 한 판다에 대한 간략한 소개입니다. 더 복잡한 방법은 [Cookbook](https://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook) 에서 볼 수 있습니다.

일반적으로 다음과 같이 가져옵니다.

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

시리즈와 같은 것으로 바뀔 수 있는 객체의 dict로 구성된 dataframe을 만듭니다.

In [4]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [5]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

 DataFrame 결과의 행은 다양한 데이터타입(dtypes)으로 구성됩니다.

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

IPython을 이용하고 계시다면, 열 이름에 대한(공용속성은 물론) tap완성 기능(tap completion)이 자동으로 활성화됩니다. 다음은 완성될 속성에 대한 부분집합(subset)입니다.

In [ ]:
df2 <tap을 누르세요.>

In [ ]:
df2.A                  df2.bool
df2.abs                df2.boxplot
df2.add                df2.C
df2.add_prefix         df2.clip
df2.add_suffix         df2.clip_lower
df2.align              df2.clip_upper
df2.all                df2.columns
df2.any                df2.combine
df2.append             df2.combine_first
df2.apply              df2.compound
df2.applymap           df2.consolidate
df2.D

보시다시피, A,B,C그리고 D 열이 탭 자동완성기능으로 실행됩니다. 물론 E도 있습니다. 나머지 속성들은 간결하게 잘라버렸습니다.


# Viewing Data
1조: 처음~22번

In [8]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [9]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

**Viewing Data 데이터 확인하기**

데이터프레임의 맨 윗 줄과 마지막 줄을 확인하고 싶을 때 .head()와 .tail()을 입력합니다. 

괄호()안에는 숫자가 들어갈 수도 있고 안 들어갈 수도 있습니다. 
숫자가 들어간다면, 윗/마지막 줄의 특정 줄을 불러올 수 있습니다. 
숫자가 들어가지 않다면, 기본값인 5로 처리됩니다.

(예시) 
df.tail(3) - 끝에서 마지막 3줄을 불러옴
df.tail() - 끝에서 마지막 5줄 불러옴

In [10]:
df.head()

                   A         B         C         D
2013-01-01 -0.414296 -0.197622 -1.085198 -0.023086
2013-01-02  1.310316 -1.236729  2.279797 -1.959987
2013-01-03  0.723715  0.573125 -1.069190  1.555839
2013-01-04  0.371333 -0.613136 -0.128201  0.211691
2013-01-05 -1.711670 -1.473291  0.996679  0.299594

In [11]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.371333 -0.613136 -0.128201  0.211691
2013-01-05 -1.711670 -1.473291  0.996679  0.299594
2013-01-06  0.647070 -0.056175 -1.399944 -0.495844

인덱스(Index), 행 (Column) 그리고 데이터에 대한 세부 정보를 보려면 .index, .columns, .values를 입력합니다.

In [12]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
df.values

array([[-0.41429646, -0.19762242, -1.08519754, -0.02308603],
       [ 1.31031598, -1.23672901,  2.27979739, -1.95998692],
       [ 0.72371532,  0.5731255 , -1.06918956,  1.55583868],
       [ 0.37133325, -0.61313642, -0.12820145,  0.21169111],
       [-1.71166962, -1.47329121,  0.99667917,  0.29959364],
       [ 0.64706968, -0.05617486, -1.39994375, -0.4958439 ]])

데이터의 대략적인 통계적 정보를 보려면 describe()를 입력합니다.

In [15]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.154411 -0.500638 -0.067676 -0.068632
std    1.072910  0.767186  1.446407  1.150207
min   -1.711670 -1.473291 -1.399944 -1.959987
25%   -0.217889 -1.080831 -1.081196 -0.377654
50%    0.509201 -0.405379 -0.598696  0.094303
75%    0.704554 -0.091537  0.715459  0.277618
max    1.310316  0.573125  2.279797  1.555839

In [16]:
import pandas as pd

In [17]:
import numpy as np

In [18]:
import matplotlib.pyplot as plt

# 객체생성

[데이터 구조 소개 섹션](https://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro)을 참조하십시오.

판다스는 값을 가지고 있는 리스트를 통해 시리즈를 만들고, 인덱스를 기본값으로 불러올 것입니다.

In [19]:
s = pd.Series([1,3,5,np.nan,6,8])

In [20]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

[DataFrame](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html#pandas.DataFrame) datetime 인덱스와 레이블이있는 열이있는 NumPy 배열을 전달하여 a 만들기 :

In [21]:
dates = pd.date_range('20130101', periods=6)

In [22]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [23]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [24]:
df

                   A         B         C         D
2013-01-01 -0.747525  0.113025 -0.129545 -0.939950
2013-01-02 -1.645529 -0.973666 -0.878428  0.303395
2013-01-03 -0.880744 -1.507954 -0.156990  0.769519
2013-01-04  0.022768 -0.248885 -1.330768  0.966339
2013-01-05  0.491347  0.366669 -1.131890 -1.334570
2013-01-06  0.579680  0.262256  0.495635  0.409973

# Object Creation
# Viewing Data

데이터를 전치한다(행과 열을 바꾼다). 시리즈와 같은 것으로 바뀔 수 있는 객체의 dict로 구성된 dataframe을 만듭니다.

In [25]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [26]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

 DataFrame 결과의 행은 다양한 데이터타입(dtypes)으로 구성됩니다.

In [27]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

IPython을 이용하고 계시다면, 열 이름에 대한(공용속성은 물론) tap완성 기능(tap completion)이 자동으로 활성화됩니다. 다음은 완성될 속성에 대한 부분집합(subset)입니다.

In [ ]:
df2 <tap을 누르세요.>

In [ ]:
df2.A                  df2.bool
df2.abs                df2.boxplot
df2.add                df2.C
df2.add_prefix         df2.clip
df2.add_suffix         df2.clip_lower
df2.align              df2.clip_upper
df2.all                df2.columns
df2.any                df2.combine
df2.append             df2.combine_first
df2.apply              df2.compound
df2.applymap           df2.consolidate
df2.D

보시다시피, A,B,C그리고 D 열이 탭 자동완성기능으로 실행됩니다. 물론 E도 있습니다. 나머지 속성들은 간결하게 잘라버렸습니다.

In [28]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.486254  0.793159 -0.282218 -2.607404
2013-01-02  1.452341  0.073068 -1.104151 -2.216050
2013-01-03  0.466190 -2.296675  2.380910  1.659103
2013-01-04  0.160385 -1.249722  0.285810  0.558386
2013-01-05 -0.869054  0.390557 -0.367353 -0.483168
2013-01-06  2.291523  0.957384  0.119287 -0.610891

## Apply

함수를 데이터에 적용합니다.

In [29]:
df.apply(np.cumsum)

                   A         B         C         D
2013-01-01 -1.486254  0.793159 -0.282218 -2.607404
2013-01-02 -0.033913  0.866227 -1.386369 -4.823454
2013-01-03  0.432277 -1.430447  0.994541 -3.164351
2013-01-04  0.592662 -2.680169  1.280351 -2.605965
2013-01-05 -0.276392 -2.289612  0.912998 -3.089133
2013-01-06  2.015130 -1.332228  1.032285 -3.700024

In [30]:
df.apply(lambda x: x.max() - x.min())

A    3.777777
B    3.254059
C    3.485061
D    4.266507
dtype: float64

## Histogramming
See more at Histogramming and Discretization.

# Merge

## Concat

Pandas는 join/merge 와 같은 병합작업의 경우 'concat()' 을 통해<br>
Series, DataFrame,Panel 객체를 index와 relational algebra과 결합할 수 있게해준다.

Merging 섹션을 보자 [pandas.Panel — pandas 0.23.3 documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Panel.html)

'concat()'으로 Pandas 객체를 concatenating 하자

In [31]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [32]:
s

0    3
1    3
2    0
3    2
4    1
5    1
6    3
7    1
8    2
9    2
dtype: int64

In [33]:
s.value_counts()

3    3
2    3
1    3
0    1
dtype: int64

In [34]:
# 데이터 실행을 위한 코드로, Merge 하면서 삭제 필요 (다음주 B조 여러분 부탁드립니다~)
dates = pd.date_range('20130101', periods = 6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

# Selection (선택)

주석(Note) : 선택과 설정을 위한 Python, Numpy의 표준화된 표현들이 직관적이며, 코드 작성을 위한 양방향 작업에 유용하지만 우리는 Pandas에 최적화된 데이터 접근 방법인 .at, .iat, .loc 및 .iloc. 을 추천합니다. 

[데이터 인덱싱 및 선택](https://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing) 문서와 [다중 인덱싱 / 심화 인덱싱](https://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced) 문서를 확인하십시오.

## Getting (데이터 얻기)

df.A 와 동일한 Series를 생성하는 단일 열을 선택합니다.

In [35]:
df['A']

2013-01-01    0.395799
2013-01-02   -0.303496
2013-01-03    0.677687
2013-01-04   -1.109111
2013-01-05   -0.223322
2013-01-06    0.623582
Freq: D, Name: A, dtype: float64

행을 분할하는 [] 를 통해 선택합니다

In [36]:
df[0:3]

                   A         B         C         D
2013-01-01  0.395799  1.324341  0.153554 -0.672920
2013-01-02 -0.303496 -1.596556 -0.920610 -0.840386
2013-01-03  0.677687  0.204407  0.256671 -1.094652

In [37]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.303496 -1.596556 -0.920610 -0.840386
2013-01-03  0.677687  0.204407  0.256671 -1.094652
2013-01-04 -1.109111 -0.770913 -0.330677 -0.570009

## Selection by Label (Label 을 통한 선택)

[Label을 통한 선택](https://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-label)에서 더 많은 내용을 확인하세요.

라벨을 사용하여 횡단면을 얻는 방법입니다.

In [38]:
df.loc[dates[0]]

A    0.395799
B    1.324341
C    0.153554
D   -0.672920
Name: 2013-01-01 00:00:00, dtype: float64

라벨을 사용하여 여러 축(의 데이터)을 얻는 방법입니다.

In [39]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.395799  1.324341
2013-01-02 -0.303496 -1.596556
2013-01-03  0.677687  0.204407
2013-01-04 -1.109111 -0.770913
2013-01-05 -0.223322  0.305182
2013-01-06  0.623582  0.705459

양쪽 종단점을 포함한 라벨 슬라이싱을 봅시다.

In [40]:
df.loc['20130102':'20130104', ['A','B']]

                   A         B
2013-01-02 -0.303496 -1.596556
2013-01-03  0.677687  0.204407
2013-01-04 -1.109111 -0.770913

반환되는 객체의 크기를 줄입니다.

In [41]:
df.loc['20130102',['A','B']]

A   -0.303496
B   -1.596556
Name: 2013-01-02 00:00:00, dtype: float64

스칼라 값을 얻습니다.

In [42]:
df.loc[dates[0],'A']

0.39579879602076895

스칼라 값을 더 빠르게 구하는 방법입니다. (앞선 method와 동일합니다)

In [43]:
df.at[dates[0],'A']

0.39579879602076895

## 위치로 선택하기

자세한 내용은 [위치로 선택하기](https://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-integer)를 참고해주세요.

넘겨받은 정수의 위치로 선택하기:

# Merge

## Concat

Pandas는 join/merge 와 같은 병합작업의 경우 'concat()' 을 통해<br>
Series, DataFrame,Panel 객체를 index와 relational algebra과 결합할 수 있게해준다.

Merging 섹션을 보자 [pandas.Panel — pandas 0.23.3 documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Panel.html)

'concat()'으로 Pandas 객체를 concatenating 하자

In [44]:
df.iloc[3]

A   -1.109111
B   -0.770913
C   -0.330677
D   -0.570009
Name: 2013-01-04 00:00:00, dtype: float64

넘파이/파이썬 작동 방식처럼 정수로 표기된 슬라이스로 선택하기:

In [45]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -1.109111 -0.770913
2013-01-05 -0.223322  0.305182

넘파이/파이썬 작동 방식처럼 정수로 표기된 위치값을 기반으로 선택하기:

In [46]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -0.303496 -0.920610
2013-01-03  0.677687  0.256671
2013-01-05 -0.223322 -1.508353

행만 나누고 싶을 때:

In [47]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -0.303496 -1.596556 -0.920610 -0.840386
2013-01-03  0.677687  0.204407  0.256671 -1.094652

열만 나누고 싶을 때:

In [48]:
df.iloc[:,1:3]

                   B         C
2013-01-01  1.324341  0.153554
2013-01-02 -1.596556 -0.920610
2013-01-03  0.204407  0.256671
2013-01-04 -0.770913 -0.330677
2013-01-05  0.305182 -1.508353
2013-01-06  0.705459  0.369007

값만 얻고 싶을 때:

In [49]:
df.iloc[1,1]

-1.5965559126297488

스칼라 값을 빨리 얻고 싶을 때(위 방식과 동일):

In [50]:
df.iat[1,1]

-1.5965559126297488

## Boolean Indexing

### <부울 인덱싱>

#### 선택한 데이터에 단일 열의 값을 사용한다.

In [51]:
df[df.A > 0]

                   A         B         C         D
2013-01-01  0.395799  1.324341  0.153554 -0.672920
2013-01-03  0.677687  0.204407  0.256671 -1.094652
2013-01-06  0.623582  0.705459  0.369007 -0.163030

#### 부울 조건에 충족되는 데이터프레임에서 변수를 선택한다.

In [52]:
df[df > 0]

                   A         B         C   D
2013-01-01  0.395799  1.324341  0.153554 NaN
2013-01-02       NaN       NaN       NaN NaN
2013-01-03  0.677687  0.204407  0.256671 NaN
2013-01-04       NaN       NaN       NaN NaN
2013-01-05       NaN  0.305182       NaN NaN
2013-01-06  0.623582  0.705459  0.369007 NaN

#### 필터링 방법인 [isin()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.isin.html#pandas.Series.isin)을 사용한다.

In [53]:
df2 = df.copy()

In [54]:
df2['E'] = ['one', 'one','two','three','four','three']

In [55]:
df2

                   A         B         C         D      E
2013-01-01  0.395799  1.324341  0.153554 -0.672920    one
2013-01-02 -0.303496 -1.596556 -0.920610 -0.840386    one
2013-01-03  0.677687  0.204407  0.256671 -1.094652    two
2013-01-04 -1.109111 -0.770913 -0.330677 -0.570009  three
2013-01-05 -0.223322  0.305182 -1.508353 -0.260613   four
2013-01-06  0.623582  0.705459  0.369007 -0.163030  three

In [56]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  0.677687  0.204407  0.256671 -1.094652   two
2013-01-05 -0.223322  0.305182 -1.508353 -0.260613  four

## Setting
새로운 컬럼을 날짜와 인덱스에 따라 자동적으로 줄이 맞춰지도록 세팅합니다.

In [57]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))

In [58]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [59]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [60]:
df

                   A         B         C         D
2013-01-01 -1.479995  0.361202  1.486119  0.115256
2013-01-02 -0.221067  0.487654  0.938039 -0.741746
2013-01-03  0.729247 -0.215760  0.337932 -1.177466
2013-01-04  0.847000 -0.118338  0.038752 -0.727101
2013-01-05 -0.239768 -0.581571  0.884636  0.134043
2013-01-06  0.204809 -0.082419  0.846424 -0.720843

In [61]:
df['F'] = s1

In [62]:
pieces = [df[:3], df[3:7], df[7:]]

In [63]:
df

                   A         B         C         D    F
2013-01-01 -1.479995  0.361202  1.486119  0.115256  NaN
2013-01-02 -0.221067  0.487654  0.938039 -0.741746  1.0
2013-01-03  0.729247 -0.215760  0.337932 -1.177466  2.0
2013-01-04  0.847000 -0.118338  0.038752 -0.727101  3.0
2013-01-05 -0.239768 -0.581571  0.884636  0.134043  4.0
2013-01-06  0.204809 -0.082419  0.846424 -0.720843  5.0

In [64]:
pieces = [df[:3], df[3:7], df[7:]]

## Join
SQL 방식으로 merge합니다. [Database style joining](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging-join) 섹션을 참고하세요.

In [65]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [66]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

데이터프레임의 맨 윗 줄과 마지막 줄을 확인하고 싶을 때 .head()와 .tail()을 입력합니다. 

괄호()안에는 숫자가 들어갈 수도 있고 안 들어갈 수도 있습니다. 
숫자가 들어간다면, 윗/마지막 줄의 특정 줄을 불러올 수 있습니다. 
숫자가 들어가지 않다면, 기본값인 5로 처리됩니다.

(예시) 
df.tail(3) - 끝에서 마지막 3줄을 불러옴
df.tail() - 끝에서 마지막 5줄 불러옴

In [67]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

이와 관련된 다른 예제는 아래와 같습니다.

In [68]:
left

   key  lval
0  foo     1
1  foo     2

## Append

데이터프레임에 하나, 혹은 여러 개의 행을 추가합니다. [Appending](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging-concatenation) 섹션을 참조하시기 바랍니다.

In [69]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])

In [70]:
df.tail(3)

          A         B         C         D
5 -1.866215 -0.561871  0.900193 -1.150734
6  0.505426  0.014205 -0.540502  1.495837
7 -0.898361  0.834658  0.400153 -0.305657

인덱스(Index), 행 (Column) 그리고 데이터에 대한 세부 정보를 보려면 .index, .columns, .values를 입력합니다.

In [71]:
df.index

RangeIndex(start=0, stop=8, step=1)

In [72]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [73]:
s = df.iloc[3]

In [74]:
df.values

array([[-0.21735787, -1.08982056, -0.80085703,  1.07541015],
       [ 0.14549987, -2.17753954,  1.85043146, -0.73044905],
       [-1.14131553,  0.80094041, -0.2966163 ,  0.76903448],
       [ 0.93290747, -0.40890313,  1.68205221, -1.21049426],
       [-0.82158497, -1.52151359, -1.43304261,  0.40739752],
       [-1.86621464, -0.56187136,  0.90019273, -1.15073376],
       [ 0.50542645,  0.01420498, -0.54050177,  1.49583659],
       [-0.89836143,  0.83465781,  0.40015314, -0.30565671]])

데이터의 대략적인 통계적 정보를 보려면 describe()를 입력합니다.

In [75]:
df.describe()

              A         B         C         D
count  8.000000  8.000000  8.000000  8.000000
mean  -0.420125 -0.513731  0.220226  0.043793
std    0.929636  1.065987  1.189896  1.038718
min   -1.866215 -2.177540 -1.433043 -1.210494
25%   -0.959100 -1.197744 -0.605591 -0.835520
50%   -0.519471 -0.485387  0.051768  0.050870
75%    0.235482  0.210889  1.095658  0.845628
max    0.932907  0.834658  1.850431  1.495837

축(axis)별로 정렬한다.

In [76]:
df.sort_index(axis=1, ascending=False)

          D         C         B         A
0  1.075410 -0.800857 -1.089821 -0.217358
1 -0.730449  1.850431 -2.177540  0.145500
2  0.769034 -0.296616  0.800940 -1.141316
3 -1.210494  1.682052 -0.408903  0.932907
4  0.407398 -1.433043 -1.521514 -0.821585
5 -1.150734  0.900193 -0.561871 -1.866215
6  1.495837 -0.540502  0.014205  0.505426
7 -0.305657  0.400153  0.834658 -0.898361

값(values)으로 정렬한다.

In [77]:
df.sort_values(by='B')

          A         B         C         D
1  0.145500 -2.177540  1.850431 -0.730449
4 -0.821585 -1.521514 -1.433043  0.407398
0 -0.217358 -1.089821 -0.800857  1.075410
5 -1.866215 -0.561871  0.900193 -1.150734
3  0.932907 -0.408903  1.682052 -1.210494
6  0.505426  0.014205 -0.540502  1.495837
2 -1.141316  0.800940 -0.296616  0.769034
7 -0.898361  0.834658  0.400153 -0.305657

# 객체생성

[데이터 구조 소개 섹션](https://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro)을 참조하십시오.

판다스는 값을 가지고 있는 리스트를 통해 시리즈를 만들고, 인덱스를 기본값으로 불러올 것입니다.

In [78]:
s = pd.Series([1,3,5,np.nan,6,8])

In [79]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

# Getting Data In/Out

## CSV

## HDF5

## Excel

# Gotchas

작업을 수행하려고 시도하면 다음과 같은 예외 상황을 볼 수도 있습니다 :

In [80]:
if pd.Series([False, True, False]):
print("I was true")

IndentationError: expected an indented block (<ipython-input-80-9074a2390e8e>, line 2)

설명 및 수행 할 작업은 [비교](https://pandas.pydata.org/pandas-docs/stable/basics.html#basics-compare)를 참조하십시오.

[Gotchas](https://pandas.pydata.org/pandas-docs/stable/gotchas.html#gotchas)도 참조하십시오.

8조: 141~끝